body {
    font-family: 'Poppins', sans-serif;
}

nav {
    box-shadow: 0 4px 2px -2px #CCCCCC !important;
}

.principal-text h1 {
    font-size: 1.5rem;
    font-weight: 700;
}

.principal-text p {
    font-size: 1rem;
    font-weight: 200;
}

#row-data {
    min-height: calc(100vh - 280px);
}

i {
    font-size: 2em;
    color: #343A40;
    border-radius: 50%;
    /*border: solid 1px #343A40;*/
}

.btn {
    border: 2.2px solid #8E8E8E;
    font-size: 1.5rem;
    font-weight: 600 !important;
}

.card-img img {
    width: 100%;
}

.card-img {
    height: 60vh !important;
    border-radius: 5px;
    border: solid 1px #CCCCCC;
    overflow: auto;
}


/*FOOTER TEST INIT CSS STYLE*/
footer {
    box-shadow: 0 -5px 5px -5px #CCCCCC;
}

footer.footer-styles{
    height: 110px;
    padding-top: 10px; 
}

.developed-by-styles{
    text-align: left;
}

.developers-styles{
    text-align: left;
}

.footer-developers{
    width: 20%;
}

.width-40{
    width: 40%
}

.width-60{
    width: 60%;
}

.orange-color{
    color: #ff6600;
}

.profile-link:hover {
    color: #ff6600 !important;
    text-decoration: none !important;
}

/*FOOTER TEST END CSS STYLE*/

/*SCROLL BAR CSS STYLE*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    /*box-shadow:  0 0 5px grey;*/ 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #CCCCCC; 
    border-radius: 10px;
}

/* BTN HOVER EFFECT - INIT */
.btn:hover {
    color: white;
    background: #F85D4A;
}
/* BTN HOVER EFFECT - END */

/* TEST LOADER - INIT */
.loader-wrapper {
    z-index: 1;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    visibility: visible;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    background-color: #ffffff;
  }

.ulX {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: flex;
}

.ulX .liX {
    list-style: none;
    width: 40px;
    height: 40px; 

    background: #fff !important;
    border-radius: 50%;
    animation: animate 1.6s ease-in-out infinite;
}

@keyframes animate {
    0%, 40%, 100% {
        transform: scale(0.2);
    }

    20% {
        transform: scale(1);
    }
}

.ulX .liX:nth-child(1) {
    animation-delay: -1.4s;
    background: #F85D4A!important;
}

.ulX .liX:nth-child(2) {
    animation-delay: -1.2s;
    background: #000000!important;
}

.ulX .liX:nth-child(3) {
    animation-delay: -1.0s;
    background: #F85D4A!important;
}

.ulX .liX:nth-child(4) {
    animation-delay: -0.8s;
    background: #000000!important;
}

.ulX .liX:nth-child(5) {
    animation-delay: -0.6s;
    background: #F85D4A!important;
}

.ulX .liX:nth-child(6) {
    animation-delay: -0.4s;
    background: #000000!important;
}

ul li:nth-child(7) {
    animation-delay: -0.2s;
    background: #F85D4A;
}
/* TEST LOADER - END*/

/* MEDIA QUERIES */

@media (min-width: 300px) {
    .s-media {
        display: flex;
        justify-content: center!important;
        padding: 1rem;
    }
}

@media (min-width: 700px) {
    .custome-container {
        max-width: 90%;
    }

    .card-img {
        height: 60vh !important;
        overflow: auto;
    }

    .card-img img {
        width: 100%;
        box-shadow: 0 0 5px #333;
    }

    .btn {
        border: 2.2px solid #8E8E8E;
        font-size: 1.5rem;
        font-weight: 600 !important;
        box-shadow: 0 0 5px #CCCCCC;
    }

    .s-media {
        display: flex;
        justify-content: center!important;
    }
}

@media (min-width: 1200px) {
    .custome-container {
        max-width: 70%;
    }
}

@media (min-width: 1800px) {
    .custome-container {
        max-width: 70%;
    }
}