body {
    font-family: 'Poppins', sans-serif;
}

/* SEARCH BOX INPUT - INIT*/
.input-search {
    border-top: none;
    border-right: none;
    border-left: none;
}

.input-search:focus {
    border-color: none !important;
}

.input-group-text {
    border-top: none;
    border-right: none;
    background-color: transparent;
}
/* SEARCH BOX INPUT - END*/


/*FOOTER TEST INIT CSS STYLE*/
footer.footer-styles{
    height: 110px;
    padding-top: 10px; 
}

.developed-by-styles{
    text-align: left;
}

.developers-styles{
    text-align: left;
}

.footer-developers{
    width: 20%;
}

.width-40{
    width: 40%
}

.width-60{
    width: 60%;
}

.orange-color{
    color: #ff6600;
}
/*FOOTER TEST END CSS STYLE*/